/*共有*/
.page-wrapper {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

.message p{
  color: green;
}

a {
  text-decoration: normal;
  color: #000;
  cursor: pointer;
  line-height: 18px;
}
 a:hover {
  background-color: black;
  color: white;
 }

 .error-message-wrapper {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

.error-title h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0;
    background-color: #c00;
    color: #fff;
}

.error-title li {
  font-size: 12px;
  list-style: square;
}

ul {
  padding: 33px;
}

label{
  display: block;
}

/*header*/
.page-title .section-title {
  font-weight: bold;
  display: block;
  margin-top: 17px;
  margin-bottom: 17px;
}

/*table*/

 th{
   padding-bottom: 5px;
 }

 td {
   padding: 0 5px 7px 5px;
 }

.form {
  padding-bottom: 10px;
  display: block;
}

