/* 共通 */
.page-wrapper {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

a {
  text-decoration: normal;
  color: #000;
  cursor: pointer;
  line-height: 18px;
}
 a:hover {
  background-color: black;
  color: white;
 }

.introduction {
  margin: 33px;
}

 .bookers {
  font-weight: bold;
}

.start {
  margin-bottom: 33px;
  margin-left: 33px;
  margin-right:33px;
}
